@import "tailwindcss";
@theme{
    /* color  */
    --color-white: #FFFFFF;
    --color-blue-50: #c4DEFD;
    --color-blue-100: #4F9CF9;
    --color-blue-200: #043873;
    --color-blue-300: #111519;
    --color-yellow-50: #FFE492;
    /* Breakpoint */
    --breakpoint-sm: 320px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1152px;
    --breakpoint-xl: 1440px;
    --breakpoint-2xl: 1920px;
}
.btn{
    @apply flex items-center justify-center py-4 px-10 bg-[#4F9CF9]  text-white rounded-lg gap-2;
}
.footerlink{
   @apply flex flex-col w-full h-[19%] space-y-3;
}
.footertittle{
    @apply font-bold text-2xl;
}